<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <?define SkuName ="SEBP"?>
  <?define ProductVersion="1.0.0" ?>
  <?define UpgradeCode="{D263E0D6-AC42-411D-A4CE-88BF3C87FDFF}"?>
  <?define Manufacturer="Dudhit Solo"?>
  <?define ProductCode="{5C32A3BD-3BA3-43AF-951F-1077E84B00DC}"?>
  <?define PackageCode="*"?>

  <Product Id="$(var.ProductCode)"
           Name="SEBP"
           Language="1033"
		   Codepage='1252'
           Version="$(var.ProductVersion)"
           Manufacturer="$(var.Manufacturer)"
           UpgradeCode="$(var.UpgradeCode)">

    <Package Id="$(var.PackageCode)"
	Keywords='Installer'
             InstallerVersion="200"
			 Languages='1033'
             Compressed="yes"
             InstallScope="perMachine"
             Manufacturer="$(var.Manufacturer)"
             Description="Curved shape generator of Space Engineers blueprint files Version: $(var.ProductVersion)"
             Platform="x64" />

			     <PropertyRef Id="NETFRAMEWORK45"/>
    <Condition Message='This setup requires the .NET Framework 4.5 or higher.'>
      <![CDATA[Installed OR NETFRAMEWORK45]]>
    </Condition>
    
    <?include ControlPanel.wxi ?>
    <Media Id="1" Cabinet="$(var.SkuName).cab" EmbedCab="yes"/>
    <?include FolderStructure.wxi ?> 



    <DirectoryRef Id="INSTALLDIR">
      <Component Id="CircleBluePrintExe" Guid="{C3A7F55E-4709-40D0-9894-524FB81E1562}">
        <File Id="CircleBluePrintExe" Name="SEBP" Source="E:\lifeDocs\computing\cSharp\SE\CircleBluePrint\CircleBluePrint\bin\x64\Debug\SEBP.exe" Checksum="yes" DiskId="1" KeyPath="yes" Assembly=".net" Vital="yes"/>
      </Component>
	
          </DirectoryRef>

    <DirectoryRef Id="SEBPShort">
      <Component Id="ApplicationShortcut" Guid="{8B71CD5F-50F1-4ACE-ACEC-53CD52460817}"  >
        <Shortcut Id="ApplicationStartMenuShortcut" 
                  Name="SE Blueprinter"
                  Description="Make a blueprint of a curved shape"
                  Target="[INSTALLDIR]/CircleBluePrintExe"
                  WorkingDirectory="INSTALLDIR"
                  Icon="MainIcon.ico"  
                  />
        <RemoveFolder Id="SEBPShort" On="uninstall"/>
		    <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
         
      </Component>
      <Component Id="RemoveAppShortcut" Guid="{4A58C09D-5A3F-46B2-A00F-7C2DBFDD2D04}" >
        <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
        <Shortcut Id="UninstallShortcut"
 Name="Uninstall SEBP"
 Description=
"Uninstalls the SEPB app"
 Target="[System64Folder]msiexec.exe"
 Arguments="/x [ProductCode]"  Icon="uninst.ico"/>

      </Component>
    </DirectoryRef>

    <Feature Id="MainTree" Title="Space Engineers Blueprinter" Description="Full Package" 

         ConfigurableDirectory="INSTALLDIR">
		 <Feature Id="Files" Title="Space Engineers Blueprinter" Description="Full Package"  Level="1">
      <ComponentRef Id="CircleBluePrintExe"/>
  
      <ComponentRef Id="ApplicationShortcut"/>
      <ComponentRef Id="RemoveAppShortcut"/>
    </Feature>
	  </Feature>
	  
    <UIRef Id="WixUI_InstallDir" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
	    <UIRef Id="WixUI_ErrorProgressText" />
    <?include Icons.wxi ?>
    <Upgrade Id="$(var.UpgradeCode)">

      <UpgradeVersion Minimum="$(var.ProductVersion)"

                      IncludeMinimum="no"

                      OnlyDetect="yes"

                      Language="1033"

                      Property="NEWPRODUCTFOUND" />

      <UpgradeVersion

                      IncludeMinimum="yes"

                      Maximum="1.0.0"

                      IncludeMaximum="no"

                      Language="1033"

                      Property="UPGRADEFOUND" />

    </Upgrade>

    <!--Prevent downgrading-->
    <CustomAction Id="PreventDowngrading"  Error="Newer version of [ProductName] already installed."/>
    <InstallExecuteSequence>
      <Custom Action="PreventDowngrading"
               After="FindRelatedProducts">NEWPRODUCTFOUND</Custom>
      <RemoveExistingProducts After="InstallFinalize"/>
    </InstallExecuteSequence>
    <InstallUISequence>
      <Custom Action="PreventDowngrading"
               After="FindRelatedProducts">NEWPRODUCTFOUND</Custom>
    </InstallUISequence>
  </Product>


</Wix>
