<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <?define SkuName ="SEBP"?>
  <?define ProductVersion="1.0.0" ?>
  <?define UpgradeCode="{D263E0D6-AC42-411D-A4CE-88BF3C87FDFF}"?>
  <?define Manufacturer="Dudhit Solo"?>
  <?define ProductCode="{5C32A3BD-3BA3-43AF-951F-1077E84B00DC}"?>
  <?define PackageCode="*"?>

  <Product Id="$(var.ProductCode)"
           Name="SEBP"
           Language="1033"
		   Codepage='1252'
           Version="$(var.ProductVersion)"
           Manufacturer="$(var.Manufacturer)"
           UpgradeCode="$(var.UpgradeCode)">

    <Package Id="$(var.PackageCode)"
	Keywords='Installer'
             InstallerVersion="200"
			 Languages='1033'
             Compressed="yes"
             InstallScope="perMachine"
             Manufacturer="$(var.Manufacturer)"
             Description="Curved shape generator of Space Engineers blueprint files Version: $(var.ProductVersion)"
             Platform="x64" />

    <PropertyRef Id="NETFRAMEWORK45"/>
    <Condition Message='This setup requires the .NET Framework 4.5 or higher.'>
      <![CDATA[Installed OR NETFRAMEWORK45]]>
    </Condition>

    <?include ControlPanel.wxi ?>
    <Media Id="1" Cabinet="$(var.SkuName).cab" EmbedCab="yes"/>
    <?include FolderStructure.wxi ?>

    <!--<?include debugInstall.wxi ?>-->
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="BlueprintModelLibdll" Guid="{D7FE880A-602B-464F-B61F-5D3F5D87FDAA}">
        <File Id="BlueprintModelLibdll" Name="BlueprintModelLib" Source="E:\lifeDocs\computing\cSharp\SE\CircleBluePrint\CircleBluePrint\bin\Debug\BlueprintModelLib.dll" Checksum="yes" DiskId="1" KeyPath="yes" Assembly=".net" Vital="yes"/>
      </Component>
      <Component Id="BlueprintModelLibpdb" Guid="{6E538888-FBE6-4FF5-A9FB-266E4EB75F2E}">
        <File Id="BlueprintModelLibpdb" Name="BlueprintModelLib" Source="E:\lifeDocs\computing\cSharp\SE\CircleBluePrint\CircleBluePrint\bin\Debug\BlueprintModelLib.pdb" Checksum="yes" DiskId="1" KeyPath="yes" Assembly=".net" Vital="yes"/>
      </Component>
      <Component Id="BlueprintWriterLibdll" Guid="{57FBDB94-4F1C-4055-B62E-66B9A07765A6}">
        <File Id="BlueprintWriterLibdll" Name="BlueprintWriterLib.dll" Source="E:\lifeDocs\computing\cSharp\SE\CircleBluePrint\CircleBluePrint\bin\Debug\BlueprintWriterLib.dll" Checksum="yes" DiskId="1" KeyPath="yes" Assembly=".net" Vital="yes"/>
      </Component>
      <Component Id="BlueprintWriterLibpdb" Guid="{18437737-5E48-45DC-98CF-BAD8B25E44B6}">
        <File Id="BlueprintWriterLibpdb" Name="BlueprintWriterLib.pdb" Source="E:\lifeDocs\computing\cSharp\SE\CircleBluePrint\CircleBluePrint\bin\Debug\BlueprintWriterLib.pdb" Checksum="yes" DiskId="1" KeyPath="yes" Assembly=".net" Vital="yes"/>
      </Component>
      <Component Id="ColourConvertersdll" Guid="{B00F170E-E238-4801-A91D-337C7273BF0C}">
        <File Id="ColourConvertersdll" Name="ColourConverters.dll" Source="E:\lifeDocs\computing\cSharp\SE\CircleBluePrint\CircleBluePrint\bin\Debug\ColourConverters.dll" Checksum="yes" DiskId="1" KeyPath="yes" Assembly=".net" Vital="yes"/>
      </Component>
      <Component Id="ColourConverterspdb" Guid="{9E305372-F076-4365-8E94-E6A75C3C3934}">
        <File Id="ColourConverterspdb" Name="ColourConverters.pdb" Source="E:\lifeDocs\computing\cSharp\SE\CircleBluePrint\CircleBluePrint\bin\Debug\ColourConverters.pdb" Checksum="yes" DiskId="1" KeyPath="yes" Assembly=".net" Vital="yes"/>
      </Component>
      <Component Id="ColourSampleSelectiondll" Guid="{CCB0B351-BE34-4DB8-8D0F-1888E2555018}">
        <File Id="ColourSampleSelectiondll" Name="ColourSampleSelection.dll" Source="E:\lifeDocs\computing\cSharp\SE\CircleBluePrint\CircleBluePrint\bin\Debug\ColourSampleSelection.dll" Checksum="yes" DiskId="1" KeyPath="yes" Assembly=".net" Vital="yes"/>
      </Component>
      <Component Id="ColourSampleSelectionpdb" Guid="{FEE80B29-DE96-4593-A703-C5DE3755FB4C}">
        <File Id="ColourSampleSelectionpdb" Name="ColourSampleSelection.pdb" Source="E:\lifeDocs\computing\cSharp\SE\CircleBluePrint\CircleBluePrint\bin\Debug\ColourSampleSelection.pdb" Checksum="yes" DiskId="1" KeyPath="yes" Assembly=".net" Vital="yes"/>
      </Component>
      <Component Id="CrudeColorPickerexe" Guid="{65A2ECA4-2311-4FE1-B429-4C5F7A612E7D}">
        <File Id="CrudeColorPickerexe" Name="CrudeColorPicker.exe" Source="E:\lifeDocs\computing\cSharp\SE\CircleBluePrint\CircleBluePrint\bin\Debug\CrudeColorPicker.exe" Checksum="yes" DiskId="1" KeyPath="yes" Assembly=".net" Vital="yes"/>
      </Component>
      <Component Id="CrudeColorPickerpdb" Guid="{087B179A-8647-44C7-9E45-73ACD6F87A57}">
        <File Id="CrudeColorPickerpdb" Name="CrudeColorPicker.pdb" Source="E:\lifeDocs\computing\cSharp\SE\CircleBluePrint\CircleBluePrint\bin\Debug\CrudeColorPicker.pdb" Checksum="yes" DiskId="1" KeyPath="yes" Assembly=".net" Vital="yes"/>
      </Component>
      <Component Id="FileAccessordll" Guid="{5D7AB2B1-F244-4F50-BA23-238A9681C179}">
        <File Id="FileAccessordll" Name="FileAccessor.dll" Source="E:\lifeDocs\computing\cSharp\SE\CircleBluePrint\CircleBluePrint\bin\Debug\FileAccessor.dll" Checksum="yes" DiskId="1" KeyPath="yes" Assembly=".net" Vital="yes"/>
      </Component>
      <Component Id="FileAccessorpdb" Guid="{BF30FE57-C648-47C4-9AB2-CBC27A9133DD}">
        <File Id="FileAccessorpdb" Name="FileAccessor.pdb" Source="E:\lifeDocs\computing\cSharp\SE\CircleBluePrint\CircleBluePrint\bin\Debug\FileAccessor.pdb" Checksum="yes" DiskId="1" KeyPath="yes" Assembly=".net" Vital="yes"/>
      </Component>
      <Component Id="FolderHandlingdll" Guid="{CB394829-6AFB-4D33-895E-AD397A6C3D34}">
        <File Id="FolderHandlingdll" Name="FolderHandling.dll" Source="E:\lifeDocs\computing\cSharp\SE\CircleBluePrint\CircleBluePrint\bin\Debug\FolderHandling.dll" Checksum="yes" DiskId="1" KeyPath="yes" Assembly=".net" Vital="yes"/>
      </Component>
      <Component Id="FolderHandlingpdb" Guid="{767AC286-78B8-464F-8CC6-5F71A67FB5FB}">
        <File Id="FolderHandlingpdb" Name="FolderHandling.pdb" Source="E:\lifeDocs\computing\cSharp\SE\CircleBluePrint\CircleBluePrint\bin\Debug\FolderHandling.pdb" Checksum="yes" DiskId="1" KeyPath="yes" Assembly=".net" Vital="yes"/>
      </Component>
      <Component Id="GeometryCalculatorsdll" Guid="{AAC56645-7150-4B7F-A96A-8F543880D92E}">
        <File Id="GeometryCalculatorsdll" Name="GeometryCalculators.dll" Source="E:\lifeDocs\computing\cSharp\SE\CircleBluePrint\CircleBluePrint\bin\Debug\GeometryCalculators.dll" Checksum="yes" DiskId="1" KeyPath="yes" Assembly=".net" Vital="yes"/>
      </Component>
      <Component Id="GeometryCalculatorspdb" Guid="{363F6354-2A13-4B21-852E-E91BA5BD5F37}">
        <File Id="GeometryCalculatorspdb" Name="GeometryCalculators.pdb" Source="E:\lifeDocs\computing\cSharp\SE\CircleBluePrint\CircleBluePrint\bin\Debug\GeometryCalculators.pdb" Checksum="yes" DiskId="1" KeyPath="yes" Assembly=".net" Vital="yes"/>
      </Component>
      <Component Id="MyTaskProgressRepoterdll" Guid="{8EE8290A-299D-4A3A-89D2-6B5D39969851}">
        <File Id="MyTaskProgressRepoterdll" Name="MyTaskProgressRepoter.dll" Source="E:\lifeDocs\computing\cSharp\SE\CircleBluePrint\CircleBluePrint\bin\Debug\MyTaskProgressRepoter.dll" Checksum="yes" DiskId="1" KeyPath="yes" Assembly=".net" Vital="yes"/>
      </Component>
      <Component Id="MyTaskProgressRepoterpdb" Guid="{CC8110A2-BBB4-4935-83E3-DD91EA8EEC70}">
        <File Id="MyTaskProgressRepoterpdb" Name="MyTaskProgressRepoter.pdb" Source="E:\lifeDocs\computing\cSharp\SE\CircleBluePrint\CircleBluePrint\bin\Debug\MyTaskProgressRepoter.pdb" Checksum="yes" DiskId="1" KeyPath="yes" Assembly=".net" Vital="yes"/>
      </Component>
      <Component Id="SEBPexe" Guid="{F829DA9C-4B09-45E4-AD5E-0EA4EDA0F3E5}">
        <File Id="SEBPexe" Name="SEBP.exe" Source="E:\lifeDocs\computing\cSharp\SE\CircleBluePrint\CircleBluePrint\bin\Debug\SEBP.exe" Checksum="yes" DiskId="1" KeyPath="yes" Assembly=".net" Vital="yes"/>
      </Component>
      <Component Id="SEBPexeconfig" Guid="{8339356E-4A6B-4007-A9DF-A762BFF8C8D8}">
        <File Id="SEBPexeconfig" Name="SEBP.exe.config" Source="E:\lifeDocs\computing\cSharp\SE\CircleBluePrint\CircleBluePrint\bin\Debug\SEBP.exe.config" Checksum="yes" DiskId="1" KeyPath="yes" Assembly=".net" Vital="yes"/>
      </Component>
      <Component Id="SEBPpdb" Guid="{F8A412CE-569C-4571-8374-D07E3F34FC92}">
        <File Id="SEBPpdb" Name="SEBP.pdb" Source="E:\lifeDocs\computing\cSharp\SE\CircleBluePrint\CircleBluePrint\bin\Debug\SEBP.pdb" Checksum="yes" DiskId="1" KeyPath="yes" Assembly=".net" Vital="yes"/>
      </Component>
      <Component Id="SEBPvshostexe" Guid="{E8633081-B4BC-423D-A4F8-E93C8812FC3C}">
        <File Id="SEBPvshostexe" Name="SEBP.vshost.exe" Source="E:\lifeDocs\computing\cSharp\SE\CircleBluePrint\CircleBluePrint\bin\Debug\SEBP.vshost.exe" Checksum="yes" DiskId="1" KeyPath="yes" Assembly=".net" Vital="yes"/>
      </Component>
      <Component Id="SEBPvshostexeconfig" Guid="{D3707CA8-6838-45CA-A0D3-F2FCAF2BAEA7}">
        <File Id="SEBPvshostexeconfig" Name="SEBP.vshostexe.config" Source="E:\lifeDocs\computing\cSharp\SE\CircleBluePrint\CircleBluePrint\bin\Debug\SEBP.vshost.exe.config" Checksum="yes" DiskId="1" KeyPath="yes" Assembly=".net" Vital="yes"/>
      </Component>
      <Component Id="SEBPvshostexemanifest" Guid="{FB2568C6-6159-43E3-8571-7687FEEAD739}">
        <File Id="SEBPvshostexemanifest" Name="SEBP.vshost.exe.manifest" Source="E:\lifeDocs\computing\cSharp\SE\CircleBluePrint\CircleBluePrint\bin\Debug\SEBP.vshost.exe.manifest" Checksum="yes" DiskId="1" KeyPath="yes" Assembly=".net" Vital="yes"/>
      </Component>
      <Component Id="sebp_arg_helptxt" Guid="{FD172DB4-36DE-4DD6-AC20-C20C37EC4131}">
        <File Id="sebp_arg_helptxt" Name="sebp_arg_help.txt" Source="E:\lifeDocs\computing\cSharp\SE\CircleBluePrint\CircleBluePrint\bin\Debug\sebp_arg_help.txt" Checksum="yes" DiskId="1" KeyPath="yes" Assembly=".net" Vital="yes"/>
      </Component>
      <Component Id="ShapingPointsdll" Guid="{63010C0B-8B5E-499D-8411-B251402A407F}">
        <File Id="ShapingPointsdll" Name="ShapingPoints.dll" Source="E:\lifeDocs\computing\cSharp\SE\CircleBluePrint\CircleBluePrint\bin\Debug\ShapingPoints.dll" Checksum="yes" DiskId="1" KeyPath="yes" Assembly=".net" Vital="yes"/>
      </Component>
      <Component Id="ShapingPointspdb" Guid="{24DB9FE2-E791-4943-99B9-6250C096569A}">
        <File Id="ShapingPointspdb" Name="ShapingPoints.pdb" Source="E:\lifeDocs\computing\cSharp\SE\CircleBluePrint\CircleBluePrint\bin\Debug\ShapingPoints.pdb" Checksum="yes" DiskId="1" KeyPath="yes" Assembly=".net" Vital="yes"/>
      </Component>
      <Component Id="SteamConfigReaderdll" Guid="{39B93192-EB8E-4809-AC0E-C66ADF8B2450}">
        <File Id="SteamConfigReaderdll" Name="SteamConfigReader.dll" Source="E:\lifeDocs\computing\cSharp\SE\CircleBluePrint\CircleBluePrint\bin\Debug\SteamConfigReader.dll" Checksum="yes" DiskId="1" KeyPath="yes" Assembly=".net" Vital="yes"/>
      </Component>
      <Component Id="SteamConfigReaderpdb" Guid="{3AAA86DC-F720-485D-A7B1-762EC2761C66}">
        <File Id="SteamConfigReaderpdb" Name="SteamConfigReader.pdb" Source="E:\lifeDocs\computing\cSharp\SE\CircleBluePrint\CircleBluePrint\bin\Debug\SteamConfigReader.pdb" Checksum="yes" DiskId="1" KeyPath="yes" Assembly=".net" Vital="yes"/>
      </Component>
      <Component Id="TextSliderCombodll" Guid="{B980DF98-A8B3-427D-8748-5683ADF7C2A9}">
        <File Id="TextSliderCombodll" Name="TextSliderCombo.dll" Source="E:\lifeDocs\computing\cSharp\SE\CircleBluePrint\CircleBluePrint\bin\Debug\TextSliderCombo.dll" Checksum="yes" DiskId="1" KeyPath="yes" Assembly=".net" Vital="yes"/>
      </Component>
      <Component Id="TextSliderCombopdb" Guid="{5F89C2EF-A764-49DC-8332-4A78B84D15F9}">
        <File Id="TextSliderCombopdb" Name="TextSliderCombo.pdb" Source="E:\lifeDocs\computing\cSharp\SE\CircleBluePrint\CircleBluePrint\bin\Debug\TextSliderCombo.pdb" Checksum="yes" DiskId="1" KeyPath="yes" Assembly=".net" Vital="yes"/>
      </Component>
      <Component Id="WindowsRegistryUtilitiesdll" Guid="{C9C626C7-CFF1-455A-AA0B-4E20AFA31A01}">
        <File Id="WindowsRegistryUtilitiesdll" Name="WindowsRegistryUtilities.dll" Source="E:\lifeDocs\computing\cSharp\SE\CircleBluePrint\CircleBluePrint\bin\Debug\WindowsRegistryUtilities.dll" Checksum="yes" DiskId="1" KeyPath="yes" Assembly=".net" Vital="yes"/>
      </Component>
      <Component Id="WindowsRegistryUtilitiespdb" Guid="{1912469A-2B99-4718-8007-ADD8E3CC0A80}">
        <File Id="WindowsRegistryUtilitiespdb" Name="WindowsRegistryUtilities.pdb" Source="E:\lifeDocs\computing\cSharp\SE\CircleBluePrint\CircleBluePrint\bin\Debug\WindowsRegistryUtilities.pdb" Checksum="yes" DiskId="1" KeyPath="yes" Assembly=".net" Vital="yes"/>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="Images">
      <Component Id="thumbpng" Guid="{568F5779-0418-445D-A98F-A3BA2B6B3D85}">
        <File Id="thumbpng" Name="thumb.png" Source="E:\lifeDocs\computing\cSharp\SE\CircleBluePrint\CircleBluePrint\bin\Debug\images\thumb.png" Checksum="yes" DiskId="1" KeyPath="yes" Assembly=".net" Vital="yes"/>
      </Component>
    </DirectoryRef>


    <DirectoryRef Id="SEBPShort">
      <Component Id="ApplicationShortcut" Guid="{8B71CD5F-50F1-4ACE-ACEC-53CD52460817}"  >
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="SE Blueprinter"
                  Description="Make a blueprint of a curved shape"
                  Target="[INSTALLDIR]/CircleBluePrintExe"
                  WorkingDirectory="INSTALLDIR"
                  Icon="MainIcon.ico"
                  />
        <RemoveFolder Id="SEBPShort" On="uninstall"/>
        <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />

      </Component>
      <Component Id="RemoveAppShortcut" Guid="{4A58C09D-5A3F-46B2-A00F-7C2DBFDD2D04}" >
        <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
        <Shortcut Id="UninstallShortcut"
 Name="Uninstall SEBP"
 Description=
"Uninstalls the SEPB app"
 Target="[System64Folder]msiexec.exe"
 Arguments="/x [ProductCode]"  Icon="uninst.ico"/>

      </Component>
    </DirectoryRef>

    <Feature Id="MainTree" Title="Space Engineers Blueprinter" Description="Full Package"

         ConfigurableDirectory="INSTALLDIR">
      <Feature Id="Files" Title="Space Engineers Blueprinter" Description="Full Package"  Level="1">
        <ComponentRef Id="CircleBluePrintExe"/>

        <ComponentRef Id="ApplicationShortcut"/>
        <ComponentRef Id="RemoveAppShortcut"/>
      </Feature>
    </Feature>

    <UIRef Id="WixUI_InstallDir" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <UIRef Id="WixUI_ErrorProgressText" />
    <?include Icons.wxi ?>
    <Upgrade Id="$(var.UpgradeCode)">

      <UpgradeVersion Minimum="$(var.ProductVersion)"

                      IncludeMinimum="no"

                      OnlyDetect="yes"

                      Language="1033"

                      Property="NEWPRODUCTFOUND" />

      <UpgradeVersion

                      IncludeMinimum="yes"

                      Maximum="1.0.0"

                      IncludeMaximum="no"

                      Language="1033"

                      Property="UPGRADEFOUND" />

    </Upgrade>

    <!--Prevent downgrading-->
    <CustomAction Id="PreventDowngrading"  Error="Newer version of [ProductName] already installed."/>
    <InstallExecuteSequence>
      <Custom Action="PreventDowngrading"
               After="FindRelatedProducts">NEWPRODUCTFOUND</Custom>
      <RemoveExistingProducts After="InstallFinalize"/>
    </InstallExecuteSequence>
    <InstallUISequence>
      <Custom Action="PreventDowngrading"
               After="FindRelatedProducts">NEWPRODUCTFOUND</Custom>
    </InstallUISequence>
  </Product>


</Wix>
