<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <?define SkuName ="SEBP"?>
  <?define ProductVersion="1.0.0" ?>
  <?define UpgradeCode="{D263E0D6-AC42-411D-A4CE-88BF3C87FDFF}"?>
  <?define Manufacturer="Dudhit Solo"?>
  <?define ProductCode="{5C32A3BD-3BA3-43AF-951F-1077E84B00DC}"?>
  <?define PackageCode="*"?>

  <Product Id="$(var.ProductCode)"
           Name="SEBP"
           Language="1033"
		   Codepage='1252'
           Version="$(var.ProductVersion)"
           Manufacturer="$(var.Manufacturer)"
           UpgradeCode="$(var.UpgradeCode)">

    <Package Id="$(var.PackageCode)"
	Keywords='Installer'
             InstallerVersion="200"
			 Languages='1033'
             Compressed="yes"
             InstallScope="perMachine"
             Manufacturer="$(var.Manufacturer)"
             Description="Curved shape generator of Space Engineers blueprint files Version: $(var.ProductVersion)"
             Platform="x64" />

    <PropertyRef Id="NETFRAMEWORK45"/>
    <Condition Message='This setup requires the .NET Framework 4.5 or higher.'>
      <![CDATA[Installed OR NETFRAMEWORK45]]>
    </Condition>

    <!--<?include ControlPanel.wxi ?>-->
    <Property Id="ARPCOMMENTS" Value="Dudhit Solo" />
    <Property Id="ARPCONTACT" Value="Dudhit" />
    <Property Id="ARPPRODUCTICON" Value="MainIcon.ico" />
    <Property Id="ARPHELPLINK" Value="https://github.com/dudhit/SEBP/wiki" />
    <Property Id="ARPREADME" Value="https://github.com/dudhit/SEBP" />
    <Property Id="ARPURLINFOABOUT" Value="null" />
    <Property Id="ARPURLUPDATEINFO" Value="https://github.com/dudhit/SEBP/archive/Binaries.zip" />
    <Property Id="ARPAUTHORIZEDCDFPREFIX" Value="URL of the update channel for the application" />
    <Property Id="ARPSIZE" Value="430" />


    <!--<Property Id='ARPNOMODIFY" Value="0″ />"
  <Property Id="ARPNOREPAIR" Value="0″ />"
  <Property Id="ARPNOREMOVE" Value="0″ />"
  <Property Id="ARPSYSTEMCOMPONENT" Value="0" />-->



    <!--Set up ARPINSTALLLOCATION property-->
    <CustomAction Id="SetARPINSTALLLOCATION" Property="ARPINSTALLLOCATION" Value="[INSTALLDIR]" />

    <!--Sequences-->
    <InstallExecuteSequence>
      <Custom Action="SetARPINSTALLLOCATION" After="InstallValidate"></Custom>
    </InstallExecuteSequence>
    <Media Id="1" Cabinet="$(var.SkuName).cab" EmbedCab="yes"/>
    <!--<?include FolderStructure.wxi ?>-->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="DudProjects" Name="DudProjects">
        <Directory Id="INSTALLDIR" Name="SE_Blueprinter">
          <Directory Id="Images" Name="Images"></Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="SEBPShort" Name="Space Engineers Blueprinter"></Directory>
      </Directory>
    </Directory>

    <DirectoryRef Id="INSTALLDIR">
      <!--<Component Id="BlueprintModelLibdll" Guid="{D7FE880A-602B-464F-B61F-5D3F5D87FDAA}">
        <File Id="BlueprintModelLibdll" Name="BlueprintModelLib" Source="E:\lifeDocs\computing\cSharp\SE\CircleBluePrint\CircleBluePrint\bin\Debug\BlueprintModelLib.dll" Checksum="yes" DiskId="1" KeyPath="yes"  Vital="yes" AssemblyApplication="BlueprintModelLib.dll" AssemblyManifest="BlueprintModelLib.dll" Assembly=".net"/>
      </Component>-->

      <Component Id="BlueprintWriterLibdll" Guid="{57FBDB94-4F1C-4055-B62E-66B9A07765A6}">
        <File Id="BlueprintWriterLibdll" Name="BlueprintWriterLib.dll" Source="E:\lifeDocs\computing\cSharp\SE\CircleBluePrint\CircleBluePrint\bin\Debug\BlueprintWriterLib.dll" Checksum="yes" DiskId="1" KeyPath="yes" Assembly=".net" Vital="yes"/>
      </Component>
      <Component Id="ColourConvertersdll" Guid="{B00F170E-E238-4801-A91D-337C7273BF0C}">
        <File Id="ColourConvertersdll" Name="ColourConverters.dll" Source="E:\lifeDocs\computing\cSharp\SE\CircleBluePrint\CircleBluePrint\bin\Debug\ColourConverters.dll" Checksum="yes" DiskId="1" KeyPath="yes" Assembly=".net" Vital="yes"/>
      </Component>
      <Component Id="ColourSampleSelectiondll" Guid="{CCB0B351-BE34-4DB8-8D0F-1888E2555018}">
        <File Id="ColourSampleSelectiondll" Name="ColourSampleSelection.dll" Source="E:\lifeDocs\computing\cSharp\SE\CircleBluePrint\CircleBluePrint\bin\Debug\ColourSampleSelection.dll" Checksum="yes" DiskId="1" KeyPath="yes" Assembly=".net" Vital="yes"/>
      </Component>
      <Component Id="CrudeColorPickerexe" Guid="{65A2ECA4-2311-4FE1-B429-4C5F7A612E7D}">
        <File Id="CrudeColorPickerexe" Name="CrudeColorPicker.exe" Source="E:\lifeDocs\computing\cSharp\SE\CircleBluePrint\CircleBluePrint\bin\Debug\CrudeColorPicker.exe" Checksum="yes" DiskId="1" KeyPath="yes" Assembly=".net" Vital="yes"/>
      </Component>
      <Component Id="FileAccessordll" Guid="{5D7AB2B1-F244-4F50-BA23-238A9681C179}">
        <File Id="FileAccessordll" Name="FileAccessor.dll" Source="E:\lifeDocs\computing\cSharp\SE\CircleBluePrint\CircleBluePrint\bin\Debug\FileAccessor.dll" Checksum="yes" DiskId="1" KeyPath="yes" Assembly=".net" Vital="yes"/>
      </Component>
      <Component Id="FolderHandlingdll" Guid="{CB394829-6AFB-4D33-895E-AD397A6C3D34}">
        <File Id="FolderHandlingdll" Name="FolderHandling.dll" Source="E:\lifeDocs\computing\cSharp\SE\CircleBluePrint\CircleBluePrint\bin\Debug\FolderHandling.dll" Checksum="yes" DiskId="1" KeyPath="yes" Assembly=".net" Vital="yes"/>
      </Component>
      <Component Id="GeometryCalculatorsdll" Guid="{AAC56645-7150-4B7F-A96A-8F543880D92E}">
        <File Id="GeometryCalculatorsdll" Name="GeometryCalculators.dll" Source="E:\lifeDocs\computing\cSharp\SE\CircleBluePrint\CircleBluePrint\bin\Debug\GeometryCalculators.dll" Checksum="yes" DiskId="1" KeyPath="yes" Assembly=".net" Vital="yes"/>
      </Component>
      <Component Id="MyTaskProgressRepoterdll" Guid="{8EE8290A-299D-4A3A-89D2-6B5D39969851}">
        <File Id="MyTaskProgressRepoterdll" Name="MyTaskProgressRepoter.dll" Source="E:\lifeDocs\computing\cSharp\SE\CircleBluePrint\CircleBluePrint\bin\Debug\MyTaskProgressRepoter.dll" Checksum="yes" DiskId="1" KeyPath="yes" Assembly=".net" Vital="yes"/>
      </Component>
      <Component Id="SEBPexe" Guid="{F829DA9C-4B09-45E4-AD5E-0EA4EDA0F3E5}">
        <File Id="SEBPexe" Name="SEBP.exe" Source="E:\lifeDocs\computing\cSharp\SE\CircleBluePrint\CircleBluePrint\bin\Debug\SEBP.exe" Checksum="yes" DiskId="1" KeyPath="yes" Assembly=".net" Vital="yes"/>
      </Component>
      <!--<Component Id="SEBPexeconfig" Guid="{8339356E-4A6B-4007-A9DF-A762BFF8C8D8}">
        <File Id="SEBPexeconfig" Name="SEBP.exe.config" Source="E:\lifeDocs\computing\cSharp\SE\CircleBluePrint\CircleBluePrint\bin\Debug\SEBP.exe.config" Checksum="yes" DiskId="1" KeyPath="yes" Assembly=".net" Vital="yes"/>
      </Component>-->
      <!--<Component Id="SEBPvshostexe" Guid="{E8633081-B4BC-423D-A4F8-E93C8812FC3C}">
        <File Id="SEBPvshostexe" Name="SEBP.vshost.exe" Source="E:\lifeDocs\computing\cSharp\SE\CircleBluePrint\CircleBluePrint\bin\Debug\SEBP.vshost.exe" Checksum="yes" DiskId="1" KeyPath="yes" Assembly=".net" Vital="yes"/>
      </Component>-->
      <!--<Component Id="SEBPvshostexeconfig" Guid="{D3707CA8-6838-45CA-A0D3-F2FCAF2BAEA7}">
        <File Id="SEBPvshostexeconfig" Name="SEBP.vshostexe.config" Source="E:\lifeDocs\computing\cSharp\SE\CircleBluePrint\CircleBluePrint\bin\Debug\SEBP.vshost.exe.config" Checksum="yes" DiskId="1" KeyPath="yes" Assembly=".net" Vital="yes"/>
      </Component>-->
      <!--<Component Id="SEBPvshostexemanifest" Guid="{FB2568C6-6159-43E3-8571-7687FEEAD739}">
        <File Id="SEBPvshostexemanifest" Name="SEBP.vshost.exe.manifest" Source="E:\lifeDocs\computing\cSharp\SE\CircleBluePrint\CircleBluePrint\bin\Debug\SEBP.vshost.exe.manifest" Checksum="yes" DiskId="1" KeyPath="yes" Assembly=".net" Vital="yes"/>
      </Component>-->
      <!--<Component Id="sebp_arg_helptxt" Guid="{FD172DB4-36DE-4DD6-AC20-C20C37EC4131}">
        <File Id="sebp_arg_helptxt" Name="sebp_arg_help.txt" Source="E:\lifeDocs\computing\cSharp\SE\CircleBluePrint\CircleBluePrint\bin\Debug\sebp_arg_help.txt" Checksum="yes" DiskId="1" KeyPath="yes" Assembly=".net" Vital="yes"/>
      </Component>-->
      <Component Id="ShapingPointsdll" Guid="{63010C0B-8B5E-499D-8411-B251402A407F}">
        <File Id="ShapingPointsdll" Name="ShapingPoints.dll" Source="E:\lifeDocs\computing\cSharp\SE\CircleBluePrint\CircleBluePrint\bin\Debug\ShapingPoints.dll" Checksum="yes" DiskId="1" KeyPath="yes" Assembly=".net" Vital="yes"/>
      </Component>
      <Component Id="SteamConfigReaderdll" Guid="{39B93192-EB8E-4809-AC0E-C66ADF8B2450}">
        <File Id="SteamConfigReaderdll" Name="SteamConfigReader.dll" Source="E:\lifeDocs\computing\cSharp\SE\CircleBluePrint\CircleBluePrint\bin\Debug\SteamConfigReader.dll" Checksum="yes" DiskId="1" KeyPath="yes" Assembly=".net" Vital="yes"/>
      </Component>

      <Component Id="TextSliderCombodll" Guid="{B980DF98-A8B3-427D-8748-5683ADF7C2A9}">
        <File Id="TextSliderCombodll" Name="TextSliderCombo.dll" Source="E:\lifeDocs\computing\cSharp\SE\CircleBluePrint\CircleBluePrint\bin\Debug\TextSliderCombo.dll" Checksum="yes" DiskId="1" KeyPath="yes" Assembly=".net" Vital="yes"/>
      </Component>

      <Component Id="WindowsRegistryUtilitiesdll" Guid="{C9C626C7-CFF1-455A-AA0B-4E20AFA31A01}">
        <File Id="WindowsRegistryUtilitiesdll" Name="WindowsRegistryUtilities.dll" Source="E:\lifeDocs\computing\cSharp\SE\CircleBluePrint\CircleBluePrint\bin\Debug\WindowsRegistryUtilities.dll" Checksum="yes" DiskId="1" KeyPath="yes" Assembly=".net" Vital="yes"/>
      </Component>

    </DirectoryRef>
    <!--<DirectoryRef Id="Images">
      <Component Id="thumbpng" Guid="{568F5779-0418-445D-A98F-A3BA2B6B3D85}">
        <File Id="thumbpng" Name="thumb.png" Source="E:\lifeDocs\computing\cSharp\SE\CircleBluePrint\CircleBluePrint\bin\Debug\images\thumb.png" Checksum="yes" DiskId="1" KeyPath="yes" Assembly=".net" Vital="yes"/>
      </Component>
    </DirectoryRef>-->


    <DirectoryRef Id="SEBPShort">
      <Component Id="ApplicationShortcut" Guid="{8B71CD5F-50F1-4ACE-ACEC-53CD52460817}"  >
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="SE Blueprinter"
                  Description="Make a blueprint of a curved shape"
                  Target="[INSTALLDIR]/SEBPexe"
                  WorkingDirectory="INSTALLDIR"
                  Icon="MainIcon.ico"
                  />
        <RemoveFolder Id="SEBPShort" On="uninstall"/>
        <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />

      </Component>
      <Component Id="RemoveAppShortcut" Guid="{4A58C09D-5A3F-46B2-A00F-7C2DBFDD2D04}" >
        <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
        <Shortcut Id="UninstallShortcut"
 Name="Uninstall SEBP"
 Description=
"Uninstalls the SEPB app"
 Target="[System64Folder]msiexec.exe"
 Arguments="/x [ProductCode]"  Icon="uninst.ico"/>

      </Component>
    </DirectoryRef>

    <Feature Id="MainTree" Title="Space Engineers Blueprinter" Description="Full Package" ConfigurableDirectory="INSTALLDIR">
      <Feature Id="Files" Title="Space Engineers Blueprinter" Description="Full Package"  Level="1">
        <ComponentRef Id="SEBPexe"/>
        <!--<ComponentRef Id="BlueprintModelLibdll"/>-->
        <ComponentRef Id="BlueprintWriterLibdll"/>
        <ComponentRef Id="ColourConvertersdll"/>
        <ComponentRef Id="ColourSampleSelectiondll"/>
        <ComponentRef Id="CrudeColorPickerexe"/>
        <ComponentRef Id="FileAccessordll"/>
        <ComponentRef Id="FolderHandlingdll"/>
        <ComponentRef Id="GeometryCalculatorsdll"/>
        <ComponentRef Id="MyTaskProgressRepoterdll"/>
        <!--<ComponentRef Id="SEBPexeconfig"/>-->
        <!--<ComponentRef Id="SEBPvshostexe"/>-->
        <!--<ComponentRef Id="SEBPvshostexeconfig"/>-->
        <!--<ComponentRef Id="SEBPvshostexemanifest"/>-->
        <!--<ComponentRef Id="sebp_arg_helptxt"/>-->
        <ComponentRef Id="ShapingPointsdll"/>
        <ComponentRef Id="SteamConfigReaderdll"/>
        <ComponentRef Id="TextSliderCombodll"/>
        <ComponentRef Id="WindowsRegistryUtilitiesdll"/>
        <ComponentRef Id="ApplicationShortcut"/>
        <ComponentRef Id="RemoveAppShortcut"/>
      </Feature>
      <!--<Feature Id="FilesAdditional" Title="Resources" Description="Full Package"  Level="1">
        <ComponentRef Id="thumbpng"/>
      </Feature>-->
    </Feature>

    <UIRef Id="WixUI_InstallDir" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <UIRef Id="WixUI_ErrorProgressText" />
    <?include Icons.wxi ?>
    <Upgrade Id="$(var.UpgradeCode)">

      <UpgradeVersion Minimum="$(var.ProductVersion)"

                      IncludeMinimum="no"

                      OnlyDetect="yes"

                      Language="1033"

                      Property="NEWPRODUCTFOUND" />

      <UpgradeVersion

                      IncludeMinimum="yes"

                      Maximum="1.0.0"

                      IncludeMaximum="no"

                      Language="1033"

                      Property="UPGRADEFOUND" />

    </Upgrade>

    <!--Prevent downgrading-->
    <CustomAction Id="PreventDowngrading"  Error="Newer version of [ProductName] already installed."/>
    <InstallExecuteSequence>
      <Custom Action="PreventDowngrading"
               After="FindRelatedProducts">NEWPRODUCTFOUND</Custom>
      <RemoveExistingProducts After="InstallFinalize"/>
    </InstallExecuteSequence>
    <InstallUISequence>
      <Custom Action="PreventDowngrading"
               After="FindRelatedProducts">NEWPRODUCTFOUND</Custom>
    </InstallUISequence>
  </Product>


</Wix>
